
html{
    max-width: 1180px;
    width: 98%;
    margin: 0 auto;
    text-align: left;
    background-color: silver;
}

body{
    background-color: white;
}

#container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

.card {
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
}